.mainContainer {
  position: relative;
  display: inline-flex;
  background-color: var(--color-surface);
  border-radius: var(--radius-pill);
  padding: 1.5px;
  transition: all 0.2s ease;
}

.textContainer {
  background-color: var(--color-surface);
  border-radius: 16px;
  padding: 0.3rem 0.8rem;
  position: relative;
  z-index: 2;
  width: 100%;
}

/* https://www.letsbuildui.dev/articles/how-to-animate-borders-in-css/ */

.mainContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    var(--color-steel),
    #3a5a95,
    var(--color-sky),
    var(--color-lighter),
    #a5d4f7,
    var(--color-sky),
    var(--color-steel)
  );
  background-size: 400% 400%;
  border-radius: var(--radius-pill);
  z-index: 1;
  animation: glow 12s linear infinite;
}

@keyframes glow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.textContainer {
  display: flex;
  align-items: center;
}

.progressText {
  color: var(--color-white);
  font-weight: 500;
  font-size: 0.85rem;
}