.glass {
    user-select: none;
    /* Position the container in the center of the screen */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Add padding and gap between the elements */
    padding: 10vw;
    width: 80vw; 
    max-width: 275px; 
    font-size: 5vw;
    height: 40vh;
    max-height: 300px;
    /* Style the container, https://hype4.academy/tools/glassmorphism-generator for glassmorphism */
    background: rgba( 255, 255, 255, 0.04 );
    box-shadow: 0 0px 8px 0 #17a8eb;
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}